<footer class="footer mt-auto bg-primary">
    <div class="container">
        <span class="text-muted">
            Rodapé
        </span>
        <div class="icone" width="20px" height="30px">
            <img src="/img/jellyfish.png" alt="icone agua viva4" width="90px" height="100px">
            <img src="/img/jellyfishicon.png" alt="icone agua viva5" width="90px" height="100px">
        </div>
    </div>
</footer>

