<!DOCTYPE html>
<html>
    <tbody>
        <div class="texto"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint tempora commodi doloremque quos unde sequi animi delectus, illo perspiciatis accusantium omnis sunt incidunt cum quo, nulla totam consectetur ratione soluta.</p></div>
        <div class="container">
            <div class="row">
                <div class="mb-3 mt-4 sm-12">
            <img src="/img/aguaviva3.jpg" alt="agua viva1">
            <img src="/img/como-tratar-queimadura-de-agua-viva.jpeg" alt="agua viva2">
            <img src="/img/queimadura-de-agua-viva.jpg" alt="agua viva3">
              </div>
            </div>
        </div>
        
 
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IdEbmK5C1WA?si=cgT8BDwb07gDz7NO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </tbody>
</html>