<h1>Editar alunos</h1>
<form action="" method="post">
    <div class="form-group">
        <label for="nome">RA</label>
        <input type="int" class="form-control" id="none" name="ra" required>
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="none" name="nome" required>
        <label for="nome">Sobrenome</label>
        <input type="text" class="form-control" id="none" name="sobrenome" required>
        <label for="nome">E-mail</label>
        <input type="email" class="form-control" id="none" name="email" required>
    </div>
    <button class="btn btn-primary" type="submit">
        Atualizar
    </button>
</form>