<h1>Mostrar Alunos</h1>
<a href="/alunos/add" class ="btn btn-success mb-3">
    Adicionar alunos
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>RA</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>